// 下面的內容可以再拆分成特定的目錄，但作為一個簡單的版型練習展示，這樣已經足夠
// .icon .img 可以參考 .fs 字體大小等級的概念

$secondary: #415165;
$info: #96A9C4;
$anger: #A00404;

.container {
    margin: 0 auto;
    max-width: 1200px;
}

// Background
.bg-secondary {
    background-color: $secondary;
}

// Text
.text-white {
    color: white;
}
.text-anger {
    color: $anger;
}
.text-center {
    text-align: center;
}
.fw-thin {
    font-weight: 300;
}
.fw-medium {
    font-weight: 500;
}
.font-roboto {
    font-family: 'Roboto', sans-serif;
}
.font-noto {
    font-family: 'Noto Sans TC', sans-serif;
}
.fs-6 {
    font-size: 2.4rem;
}
.fs-7 {
    font-size: 2rem;
}

// Borders
.border-start {
    border-left: 1px solid #000;
}
.border-bottom {
    border-bottom: 1px solid #000;
}
.border-white {
    border-color: white;
}
.border-info {
    border-color: $info;
}

// Images
.rounded-circle {
    border-radius: 50%;
}
.img-1 {
    // 參考 .fs-1 字體大小等級的概念
    width: 90px;
    height: 90px;
}

// Icons
.icon {
    width: 48px;
    height: 48px;
    &:hover {
        opacity: 0.5;
    }
}

// Flex
.d-flex {
    display: flex;
}
.justify-content-center {
    justify-content: center;
}

// Spacing
.ps-3 {
    padding-left: 24px;
}
.pt-3 {
    padding-top: 24px;
}
.pb-1 {
    padding-bottom: 8px;
}
.pb-5 {
    padding-bottom: 40px;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.ms-2 {
    margin-left: 16px;
}
.ms-3 {
    margin-left: 24px;
}
.me-3 {
    margin-right: 24px;
}
.mb-2 {
    margin-bottom: 16px;
}
.mb-3 {
    margin-bottom: 24px;
}
.mb-4 {
    margin-bottom: 32px;
}
.mb-5 {
    margin-bottom: 40px;
}
.mb-6 {
    margin-bottom: 48px;
}
.mb-9 {
    margin-bottom: 72px;
}